<div>
    <h2>Món ăn</h2>
    <div>
        <a href="/Dishes">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Loại món ăn</h2>
    <div>
        <a href="/DishesType">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Tầng/Khu vực</h2>
    <div>
        <a href="/Floor">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Bàn</h2>
    <div>
        <a href="/Table">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Loại bàn</h2>
    <div>
        <a href="/TableType">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Order</h2>
    <div>
        <a href="/Order">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Chi tiết Order</h2>
    <div>
        <a href="/OrderDetail">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Menu</h2>
    <div>
        <a href="/Menu">Bấm vào đây</a>
    </div>
</div>
<div>
    <h2>Chi tiết Menu</h2>
    <div>
        <a href="/MenuType">Bấm vào đây</a>
    </div>
</div>
